<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{public/index}">

<head>
    <!-- Title  -->
    <title>South - Real Estate Agency Template | Listings</title>
</head>

<body>
<div layout:fragment="content">
    <div style="width: 100%; height: 70px; display: block;"></div>
    <!-- ##### Listings Content Area Start ##### -->
    <section class="listings-content-wrapper">
        <div class="container">
            <div class="row" id="box-prod-new">
                <div class="col-3 sidebar-left">

                    <!--Product-->
                    <div style="margin: 0 10px;border: 1px solid #ccc;">
                        <div class="header-product-new">
                            <h3 th:text="#{tag.product.top}">Sản phẩm mới</h3>
                        </div>
                        <div class="box" th:each="proNew : ${productNew}">
                            <a th:href="@{/product-detail(id=${proNew.id})}">
                                <div class="content-product-new row">
                                    <div class="pro-new-img col-4">
                                        <img src="img/bg-img/noimage256.png" th:src="'data:image/png;base64,' + ${proNew.images}" alt="" class="single-img">
                                    </div>
                                    <div class="pro-new-title col-8">
                                        <h3 th:text="${proNew.productName}"></h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!--News-->
                    <div style="margin: 0 10px;border: 1px solid #ccc;">
                        <div class="header-product-new">
                            <h3 th:text="#{tag.news.top}">Tin tức mới</h3>
                        </div>
                        <div class="box" th:each="nw : ${newList}">
                            <a th:href="@{/product-detail(id=${nw.id})}">
                                <div class="content-product-new row">
                                    <div class="pro-new-img col-4">
                                        <img src="img/bg-img/noimage256.png" th:src="'data:image/png;base64,' + ${nw.images}" alt="" class="single-img">
                                    </div>
                                    <div class="pro-new-title col-8">
                                        <h3 th:text="${nw.title}"></h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-9 justify-content-center content-right" th:each="nw : ${newOne}">
                    <div style="margin: 0 10px;">
                        <div class="row header-product-new">
                            <p><span>Trang chủ / Tin tức </span></p>
                        </div>
                        <div class="row box-detail-product">
                            <div class="col-12 col-md-12">
                                <section>
                                    <h3 th:text="${nw.title}" class="title-new-detail"></h3>
                                    <p><u th:text="${#dates.format(nw.createdAt, 'dd-MM-yyyy')}"></u></p>
                                    <p th:text="${nw.content}" class="content-new"></p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Listings Content Area End ##### -->
</div>
</body>

</html>
