<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{public/index}">

<head>
    <!-- Title  -->
    <title>South - Real Estate Agency Template | Listings</title>
</head>

<body>
    <div layout:fragment="content">
    <div style="width: 100%; height: 40px; display: block;"></div>
    <!-- ##### Listings Content Area Start ##### -->
    <section class="listings-content-wrapper">
        <div class="container">
            <div class="row justify-content-center">
            	<div class="col-12 col-lg-6">
                    <!-- Single Listings Slides -->
                    <div class="listings-content single-listings-sliders owl-carousel">
                        <!-- Single Slide -->
                        <img src="img/bg-img/noimage256.png" alt="">
                        <!-- Single Slide -->
                        <img src="img/bg-img/noimage256.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="listings-content" th:object="${house}">
                        <!-- Name -->
                        <h5><i class="fa fa-home" aria-hidden="true"></i><span th:text="*{name}"></span></h5>
                        <!-- Price -->
                        <p class="list-price mb-50"><i class="fa fa-money" aria-hidden="true"></i><span th:text="￥+*{rentFee}"></span></p>
                        
                        <!-- Address -->
                        <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i><span  th:text="*{address}"></span></p>
                        <!-- Build from -->
                        <p class="location"><i class="fa fa-calendar-check-o" aria-hidden="true"></i><span  th:text="*{buildFrom}"></span></p>
                        <!-- Area -->
                        <p class="location"><i class="fa fa-map" aria-hidden="true"></i><span  th:text="*{area}"></span> m2</p>
                        <!-- Other -->
                        <p class="location"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span th:text="*{other}"></span></p>
                     </div>
                     
                     <div class="listings-content">
                        <!-- Listings Btn Groups -->
                        <div class="listings-btn-groups">
                            <a href="#" class="btn south-btn" th:text="#{btn.tocontact}">See Floor plans</a>
                            <a href="#" class="btn south-btn active" th:text="#{btn.back}">calculate mortgage</a>
                        </div>
                    </div>
                 </div>
            </div>
            
            <div class="row">
            	<div class="col-12">
                    <div class="contact-realtor-wrapper">
                        <div class="realtor-info">
                            <div class="realtor---info">
                                <h2 th:text="#{tag.contact}">Jeremy Scott</h2>
                            </div>
                            <div class="realtor--contact-form">
                                <form action="#" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="realtor-name" placeholder="Your Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="realtor-number" placeholder="Your Number">
                                    </div>
                                    <div class="form-group">
                                        <input type="enumber" class="form-control" id="realtor-email" placeholder="Your Mail">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="realtor-message" cols="30" rows="10" placeholder="Your Message"></textarea>
                                    </div>
                                    <button type="submit" class="btn south-btn" th:text="#{btn.sendmessage}">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- ##### Listings Content Area End ##### -->
</div>
</body>

</html>
