@charset "UTF-8";
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #01A89E; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #007563;
}